.navbar > ul > li {
    float: left;
    padding: 8px;
    display: block;
    background-color: #dddddd;
}
.navbar > ul > li > a {
    text-decoration: none;
    display: block;
    padding: 8px;
    text-align: center;
    color: white;
}
.navbar > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #dddddd;
}
.navbar > ul {
    position: fixed;
    height: 50px;
    width: 100%;
    margin: 0px;
}


#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#nudge{
    display: none;
    background-color: tan;
    position: relative;
    padding: 0px 5px 5px 5px;
    margin: 0px 2px 2px 2px;
}
